.section-background {
    background-color: $bg-bright;
}

.section-teams {
    padding-top: 60px;
    padding-bottom: 60px;
    
    @include desktop {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}

.section-teams__list {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.section-teams__item {
    background-color: $primary-white-color;

    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    
    width: 100%;

    @include tablet {
        width: calc((100% - 30px) / 2);
    }
    
    @include desktop {
        width: calc((100% - 90px) / 4);
    }
}

.team {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.team__name {
    margin-bottom: 10px;

    color: $title-text-color;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
}

.team__profession {
    font-size: 16px;
    line-height: 1.18;
}

.socials {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 16px;
}

.socials__item {
    width: 44px;
    height: 44px;
}

.socials__link {
    width: 100%;
    height: 100%;
    background-color: $primary-white-color;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: $color-icon;

    transition: background-color $anim-trans, fill $anim-trans;

        &:hover,
        &:focus {
            background-color: $accent-color;
            fill: $primary-white-color;
        }
}